<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            Usuario<h:inputText value="#{loginBean.usuario}"/>
            <br/>
            Password<h:inputSecret value="#{loginBean.password}"/>    
            <br/>
            <h:commandButton value="INGRESAR" action="#{loginBean.login()}"/>
        </h:form>
    </h:body>
</html>

