<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <h1>Registro de paciente</h1>
            <table>   
                <tr>
                    <td>Nombre</td>
                    <td>
                        <h:inputText value="#{usuarioBean.newPaciente.nombre}"/>
                    </td>
                </tr>
                <tr>
                    <td>Apellidos</td>
                    <td>
                        <h:inputText value="#{usuarioBean.newPaciente.apellido}"/>
                    </td>
                </tr>
                <tr>
                    <td>Codigo</td>
                    <td>
                        <h:inputText value="#{usuarioBean.newPaciente.codigoPostal}"/>
                    </td>
                </tr>
                <tr>
                    <td>Telefono</td>
                    <td>
                        <h:inputText value="#{usuarioBean.newPaciente.telefono}"/>
                    </td>
                </tr>
                <tr>
                    <td>Codigo</td>
                    <td>
                        <h:inputText value="#{usuarioBean.usuarioNuevo.apellido}"/>
                    </td>
                </tr>
               
            </table>
            <br/>
            <h:commandButton value="REGISTRAR">
                <f:ajax listener="#{usuarioBean.registrarPaciente()}" execute="@form" render="@form"/>
            </h:commandButton> 
        </h:form>

    </h:body>
</html>

